<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sinatra</title>
    <link href="<%= url('stylesheets/index.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Default</h1>
    <%= yield %>
    <script src="<%= url('javascript/index.js') %>"></script>
  </body>
</html>
