<% @users.each do |user| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">
        <%= user.name %>
      </h5>
      <p class="card-text">
        <%= user.email %>
      </p>
      <p class="card-text">
        <%= user.password %>
      </p>
    </div>
  </div>
<% end %>
