<div class="container mx-auto p-5">
  <form method="POST" action="/users/sign_in" class="shadow rounded border p-5 mx-auto">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-outline-dark">Submit</button>
  </form>
</div>
