<div class="container mx-auto">
  <form method="POST" action="/users/sign_in" class="shadow rounded border p-5 mx-auto">
    <div class="text-center fs-3 mb-5 border-bottom">Sign In</div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" autocomplete="off" required>
    </div>
    <button type="submit" class="btn btn-outline-dark">Submit</button>
    <div class="mt-3">
      <%= link_to "Sign Up", "/users/sign_up", class: "my-5" %>
    </div>
  </form>
</div>
