<h1>Todos</h1>
<div class="border p-3 shadow rounded-lg w-50 mx-auto">
  <%= erb "todos/form".to_sym, locals: {url: "/todos"} %>
</div>
<% @todos.each do |todo| %>
  <%= erb "todos/todo".to_sym, locals: {todo: todo }%>
</div>
<% end %>
